<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            Hello, {{ user }}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                <li><a href="{% url 'list_accounts' %}">List accounts</a></li>
                <li><a href="{% url 'list_categories' %}">List categories</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'loginup' %}">Login</a></li>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                <!-- form tag will make an HTTP POST (because of method="post") back to the same URL -->
                {% csrf_token %} <!-- The csrf_token creates a hidden input tag that contains a security token. -->
                {{ form.as_p }} <!-- The form.as_p creates all the HTML for the fields we defined on the RecipeForm -->
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>