<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories List</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            Hello, {{ user }}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                <li><a href="{% url 'list_accounts' %}">List accounts</a></li>
                <li><a href="{% url 'list_categories' %}">List categories</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'loginup' %}">Login</a></li>
            {% endif %}
        </nav>
    </header>
    <h1>Categories List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories_list %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    {{ category.receipts.all|length }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>