<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts List</title>
</head>
<body>
    <h1>Accounts List</h1>
    <table>
        <thead>
            <tr>
                <th>Accounts</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts_list %}
            <tr>
                <td>
                    {{ account.name }}
                </td>
                <td>
                    {{ account.number }}
                </td>                <td>
                    {{ account.receipts.all|length }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>