<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt List</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            Hello, {{ user }}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                <li><a href="{% url 'list_accounts' %}">List accounts</a></li>
                <li><a href="{% url 'list_categories' %}">List categories</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'loginup' %}">Login</a></li>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_list %}
                <tr>
                    <td>
                        {{ receipt.vendor }}
                    </td>
                    <td>
                        {{ receipt.total }}
                    </td>
                    <td>
                        {{ receipt.tax }}
                    </td>
                    <td>
                        {{ receipt.date|date:"m/d/y" }}
                    </td>
                    <td>
                        {{ receipt.category.name }}
                    </td>
                    <td>
                        {{ receipt.account.name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>